body {
	background-color: #222;
	color: #aaa;
	font-weight: bold;
	padding: 0em 3em;
}

ul {
	margin-top: -1ex;
	padding-left: 1em;
}
div#top {
	align-items: center;
	display: flex;
	font-size: 400%;
	justify-content: center;
	margin: 0%;
	width: 100%;
}
p.cdn {
	font-size: 150%;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main {
	color: red;
}
.redirect {
	color: #A00;
	/* font-style: italic; */
	font-style: oblique;
}
.external {
	color: yellow;
}
.none {
	color: #08A;
	font-size: 150%;
}

.count {
	color: #FFF;
}

.tooltip {
    display: inline-block;
    border-bottom: 2px dotted #600;
    position: relative;
}

.tooltip .tooltiptext {
	background-color: #444;
    border-radius: 6px;
	font-size: small;
    left: 50%;
    margin-left: -60px;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: 100%;
    visibility: hidden;
    width: 120px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}