body {
	background-color: #222;
	color: #aaa;
	font-weight: bold;
	padding: 1em 3em;
}

ul {
	margin-top: -1em;
	padding-left: 1em;
}

div#top {
	align-items: center;
	display: flex;
	font-size: 4em;
	justify-content: center;
	margin: 0%;
	width: 100%;
}
p.cdn {
	font-size: 1.5em;
}

.main {
	color: red;
}
.redirect {
	color: #a00;
	font-style: oblique;
}
.external {
	color: orange;
}
.none {
	color: #08a;
	font-size: 1.5em;
}
.count {
	color: #FFF;
}

.tooltip {
    display: inline-block;
    border-bottom: 0.05em dotted #600;
    position: relative;
}

.tooltip .tooltiptext {
	background-color: #444;
    border-radius: 0.25em;
	font-size: 25%;
	font-weight: normal;
    left: 50%;
    margin-left: -5em;
	overflow: auto;
    padding: 0.25em 0;
    position: absolute;
    text-align: center;
    top: 100%;
    visibility: hidden;
	width: 10em;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}