body {
	color: black;
	height: 30em;
}

form {
	width: 50em;
}

label {
	width: 50%;
    float: left;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

span {
	text-shadow: none;
}

summary {
	color: #08a;
	font-size: 120%;
	font-weight: bold;
}

.tooltip {
	color: #08a;
    display: inline-block;
	font-size: 75%;
	font-weight: bold;
    position: relative;
}

.tooltip .tooltiptext {
	background-color: #444;
    border-radius: 1em;
	color: #FFF;
	font-size: 125%;
	margin-left: -8em;
	overflow: auto;
    padding: 1em;
    position: fixed;
    text-align: center;
    visibility: hidden;
    width: 16em;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
