body {
	color: black;
}
label {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
legend {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	font-weight: bold;
	font-size: 120%;
}
div {
	margin-right: 5px;
}
div.fs {
	display: flex;
}
footer {
	width: 100%;
	border-top-style: double;
	margin-top: 30px;
}
.tooltip {
	color: #08A;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	color: #FFF;
	background-color: #444;
	font-size: small;
    visibility: hidden;
    width: 200px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
